h2 {
  background-color: grey;
  color: white;
  margin: 0;
  padding: 20px;
  text-align: center;
}

.btnSubmit {
  text-align: right;
}

.wireframe {
  border: 2px solid black;
}

.employeeTable {
  width: 90%;
  margin: 0 auto;
  border-collapse: collapse;
}

.header {
  background-color: darkgrey;
}

td {
  border: solid black;
  height: 25px;
}

.footer {
  background-color: lightgrey;
}

.alnCenter {
  text-align: center;
}

.monthlyTotal {
  text-align: right;
}
